<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="DC.Type" content="Text" />
        <meta name="DC.Format" content="text/html" />
        <!-- Project favicon -->
<!--        <link rel="shortcut icon" href="/resources/images/fav-icons/mss-favicon.ico"/>-->
        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/resources/bootstrap/css/bootstrap.min.css"/>
        <!-- Srophe styles -->
        <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="/resources/css/print.css"/>

        <!-- JQuery -->
        <link href="/resources/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
        <script src="/resources/js/jquery.min.js"/>
        <script src="/resources/jquery-ui/jquery-ui.min.js"/>

        <!-- Bootstrap -->
        <script type="text/javascript" src="/resources/bootstrap/js/bootstrap.min.js"/>
        
        <!-- keyboard widget css & script -->
        <link href="/resources/keyboard/css/keyboard.min.css" rel="stylesheet"/>
        <link href="/resources/keyboard/css/keyboard-previewkeyset.min.css" rel="stylesheet"/>
        <link href="/resources/keyboard/syr/syr.css" rel="stylesheet"/>
        <script type="text/javascript" src="/resources/keyboard/syr/jquery.keyboard.js"/>
        <script type="text/javascript" src="/resources/keyboard/js/jquery.keyboard.extension-mobile.min.js"/>
        <script type="text/javascript" src="/resources/keyboard/js/jquery.keyboard.extension-navigation.min.js"/>
        <script type="text/javascript" src="/resources/keyboard/syr/jquery.keyboard.extension-autocomplete.js"/>
        <script type="text/javascript" src="/resources/keyboard/syr/keyboardSupport.js"/>
        <script type="text/javascript" src="/resources/keyboard/syr/syr.js"/>
        <script type="text/javascript" src="/resources/keyboard/layouts/ms-Greek.min.js"/>
        <script type="text/javascript" src="/resources/keyboard/layouts/ms-Russian.min.js"/>
        <script type="text/javascript" src="/resources/keyboard/layouts/ms-Arabic.min.js"/>
        <!-- Plausible tracking -->
<!--        <script defer="defer" data-domain="bl.syriac.uk" src="https://plausible.io/js/script.js"></script>-->
    </head>
    <body id="body">
        <script src="/resources/js/navbar.js"></script>
        <div id="navbar-container"></div>
        <!-- Main Content -->
        <div id="content" class="text"/>
        
        <!-- Footer -->
        <script src="/resources/js/footer.js"></script>
        <div id="footer-container"></div>
    </body>
</html>